

<!-- COLOURS:
BLUE: #003272
ORANGE: #ff5c04
YELLOW: #ff8800
DARK GRAY: #a09c9c
-->
<div class="container" style="font-family: Helvetica;background: #ededed;max-width: 630px;">
    <div class="header" style="background: #003272;text-align: center;height: 140px;padding-top: 30px;">
        <img src="https://c8.alamy.com/compes/2aymj5t/plantillas-de-vectores-de-logotipo-de-letras-iniciales-ai-o-ia-2aymj5t.jpg" alt="JPinedaMaps" class="logo" style="font-family: Helvetica;width: 150px;">
    </div>
    <div class="content" style="width: 87%;margin: 0 auto;">
        <div class="titulo" style="background: white;padding: 50px 20px;margin-top: -80px;text-align: center;font-size: 25px;color: #ff8800;font-weight:600;">
            <p>Proyecto:<br>JPinedaMaps</p>
            <p style="font-size:20px;font-weight:400">Recuperar contraseña</p>
        </div>


    </div>
</div>
