@model ML.Usuario
@{
    Layout = null;
}

<!-- COLOURS:
BLUE: #003272
ORANGE: #ff5c04
YELLOW: #ff8800
DARK GRAY: #a09c9c
-->
<div class="container" style="font-family: Helvetica;background: #ededed;max-width: 630px;">
    <div class="header" style="background: #003272;text-align: center;height: 140px;padding-top: 30px;">
        <img src="https://c8.alamy.com/compes/2aymj5t/plantillas-de-vectores-de-logotipo-de-letras-iniciales-ai-o-ia-2aymj5t.jpg" alt="JPinedaMaps" class="logo" style="font-family: Helvetica;width: 150px;">
    </div>
    <div class="content" style="width: 87%;margin: 0 auto;">
        <div class="titulo" style="background: white;padding: 50px 20px;margin-top: -80px;text-align: center;font-size: 25px;color: #ff8800;font-weight:600;">
            <p>Proyecto:<br>JPinedaMaps</p>
            <p style="font-size:20px;font-weight:400">Recuperar contraseña</p>
        </div>
        <div class="bajada" style="padding: 40px;text-align: center;color:#585758;font-size:15px">
            <p>Hemos recibido una solicitud de recuperación de contraseña. Para generar una nueva, haga click en el siguiente botón.</p>
            <!--Boton para entrar a la interfaz de recuperación de contraseña-->
            <a href="#" class="boton" style="background: #ff8800;color: white;border-radius: 5px;padding: 15px 40px;text-decoration: none;margin: 15px 0;display:inline-block;">Recuperar contraseña</a>
            <p style="font-weight:bold">Si no ha solicitado recuperación de contraseña haga caso omiso a este mensaje.</p>
        </div>
    </div>
</div>
<div class="firma" style="text-align:center; max-width:630px; padding-top: 30px">
    <p style="margin:0">--</p>
    <p style="margin:0">--</p>
    <div style="font-family: Helvetica; color: gray;">
        <p style="margin: 10px 0">Jose Alejandro Pineda Sanchez</p>
        <a style="color: #003272;text-decoration:none" href="https://maxxa.cl" target="_blank">JPineda<span style="color:#e9540d">MA</span><span style="color:#f28b2d">PS</span>/    Recuperacion de Contraseña</a>
        <p style="margin: 10px 0">Apoquindo 6550, piso 16, Las Condes.</p>
    </div>
</div>
